h4 {
  color: #2d3c49
}

.text-muted {
  color: #7d97ad
}

.jumbotron {
  background: url("../img/night-sky.jpg") no-repeat;
  background-size: cover;
  background-attachment: local;
  min-height: 12rem;
}

.bg-black {
  background-color: #000;
}

.logo {
  float: left;
  max-width: 180px;
}

.social-link {
  margin: 0.75rem auto 0.75rem;
}
